:root{
  --save-button-font:25px;
  --save-button-font-hover:calc(var(--save-button-font)*1.4)
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  width: 100%;
  height: 100%;
  background:transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  font-size: 25px;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  transition: all .3s ease-in-out;
}

.saveBtn:hover{
  font-size: calc(var(--save-button-font-hover));
  transition: all .3s ease-in-out;
}

.saveBtnLocked {
  font-size: 25px;
  border: 2px solid #0487a4;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #cccccc;
  color: #0487a4;
  transition: all .3s ease-in-out;
}

.saveBtnLocked:hover{
  font-size: 35px;
}




