:root{
  --save-button-font:25px;
  --save-button-font-hover:calc(var(--save-button-font)*1.4)
}
/* font-family: 'Baloo 2', cursive; */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url(../images/pen+notebook.jpg);
  background-size: cover;
  background-position-y: 100px;
  background-position-x:center;

}
.container{
  background-color: transparent;
}

textarea{
  width: 100%;
  height: 100%;
  background:transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  border-top: 1px solid grey;
}

textarea:read-only{
  font-family: 'Baloo 2', cursive;
  font-style: italic;
  outline:none;
  color:black;
  cursor: default;
}

.jumbotron {
  text-align: center;
  background-image: url(../images/plush-design-studio.jpg);
  background-size: cover;
  background-position: center;
  color:#ffc400;
  border-radius: 0;
  border-bottom: 10px solid black;
}
.shade{
  background-color:hsla(15, 85%, 10%, 0.6);
  border-radius: 15px;
  padding:20px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  margin-top:5px
}

.hour {
  background-color: rgba(255,255,255,0.5);
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color:	hsla(0, 0%, 83%, 0.6);
  color: black;
}

.present {
  background-color: hsla(3, 100%, 69%, 0.6);
  color: black;
}

.future {
  background-color: hsla(120, 60%, 67%, 0.6);
  color: black;
}

.saveBtn {
  font-size: 25px;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  transition: all .3s ease-in-out;
}

.saveBtn:hover{
  font-size: calc(var(--save-button-font-hover));
  transition: all .3s ease-in-out;
}

.saveBtnLocked {
  font-size: 25px;
  border: 2px solid slategray;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: hsla(0, 0%, 80%,0.5);
  color: slategray;
  transition: all .3s ease-in-out;
}

.saveBtnLocked:hover{
  font-size: 35px;
}




